{% extends "movies-base.html" %}
{% block main_content %}

<h2>Logged in as User <span id="login_uid">{{uid}}</span></h2>

<p>This form stands in for a "real" login form that would have both a
userID and a password, and would check the password against encrypted
passwords in the database. But we're not doing that. Any UID should
work: try your own, or any small integer.</p>
<p>Your back-end will support both old-fashioned non-Ajax logins and
Ajax logins. The two buttons submit to different back-end routes.</p>

<form id="login_form" method="post" action="{{url_for('set_UID')}}">
    <p><label>userid: <input type="text" name="uid" placeholder="12"></label></p>
    <p><input type="submit" value="submit">
        <input type="button" id="ajax_login" value="submit via Ajax"></p>
</form>

<p>This application is rating movies in the <strong>{{database}}</strong> database.</p>

<p>This button turns on/off all the JavaScript:
    <button id="progressive_enhancement">Turn On Progressive Enhancement</button></p>

<h1>List of Movies</h1>

<style>
  table { border-collapse: collapse; }
  td, th { border: 1px solid black; }
  td:last-child { padding-left: 1em; }
</style>

<table id="movies-list">
    <tr>
        <th>(tt) Title</th>
        <th>Director</th>
        <th>Release</th>
        <th>My Rating</th>
        <th>Average</th>
    </tr>
    {% for mv in movies %}
    <tr data-tt={{mv.tt}}>
        <td class="title">({{mv.tt}}) {{mv.title}}</td>
        <td class="director">{{mv.name}}</td>
        <td class="release">{{mv.release}}</td>
        <!-- you can replace the function name with your function -->
        <td><form method="post" action="{{url_for('rate_one_movie')}}">
            <input type="hidden" name="tt" value="{{mv.tt}}">
            {% for stars in range(1,6) %}
            <label class="movie-rating">{{stars}}
                <input type="radio" name="stars" value="{{stars}}"></label>
            {% endfor %}
            <input type="submit" value="rate this">
            </form>
        </td>
        <td><span class="avgrating">{{mv.avgrating}}</span></td>
        <td><form method="post" action="{{url_for('delete_all_ratings', tt=mv.tt)}}">
                <button>delete all</button></form></td>
    </tr>
    {% endfor %}
</table>
 
{% endblock %}

{% block tail %}
{% endblock %}
